.docstring-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-color: #818cf8;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
}

.signature {
  color: #6b7280;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-source {
  color: #6b7280;
}

.title-module {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #4f46e5;
}

/* divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
  color: #4f46e5;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #4f46e5;
}

.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}
