.docstring-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-color: #9db2bf;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
}

.signature {
  color: #6b7280;
  margin-bottom: 0.5rem;
  font-size: medium;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-source {
  color: #6b7280;
}

.title-module {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #4f46e5;
}

/* divider */
.divider {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider-text {
  margin-right: 10px;
  font-size: medium;
  font-weight: bold;
  color: #4f46e5;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}
